<h1>Products</h1>
<p>Rol:
  {{#if isAdmin}}
    <strong>Administrador</strong>
  {{else}}
    <strong>Usuario</strong>
  {{/if}}
</p>

<ul>
  {{#each products}}
    <li>
      <h2>{{title}}</h2>
      <p>Descripción: {{description}}</p>
      <p>Código: {{code}}</p>
      <p>Precio: ${{price}}</p>
      <p>Categoría: {{category}}</p>
      <p>Stock: {{stock}}</p>
      <img src='{{image}}' alt='{{title}}' width='200' />
    </li>
  {{/each}}
</ul>